<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.zyten.rdmon" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Realtime D-MON"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

       <receiver android:name=".NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="xyz.zyten.rdmon.OnBootCompleteReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".NotificationAlarmReceiver"
            android:process=":remote" >
        </receiver>

        <service
            android:name=".NotificationStartService"
            android:exported="false"
            android:stopWithTask="false"/>

        <service
            android:name=".NotificationService"
            android:exported="false"/>

        <activity
            android:name=".LoginActivity"
            android:label="Realtime D-MON"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".MainActivity"
            android:noHistory="false"
            android:label="Realtime D-MON"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        
        <activity
            android:name=".ProfileActivity"
            android:label="Realtime D-MON"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".HealthProfileActivity"
            android:label="Realtime D-MON"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".ApiGuidelineActivity"
            android:label="Realtime D-MON"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>


        <activity
            android:name=".HistoryActivity"
            android:label="Realtime D-MON"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="Realtime D-MON"
            android:screenOrientation="portrait"
            android:theme="@style/PreferenceTheme">
        </activity>

        <activity
            android:name=".LauncherActivity"
            android:screenOrientation="portrait"
            android:label="Realtime D-MON"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>


